ABUSEIPDB_API_KEY=api_key
ABUSEIPDB_BASE_URL=https://api.abuseipdb.com/api/v2
ABUSEIPDB_MAX_AGE_DAYS=90

MONGODB_URI=mongodb_uri
MONGODB_DB=database_name
MONGODB_COLLECTION=collection_name

REQUEST_TIMEOUT_SECONDS=15
RETRY_MAX_ATTEMPTS=5
RETRY_BASE_SLEEP_SECONDS=1.5
