# CyberGreen API environment variables
BASE_URL=https://api.cybergreen.net

API_KEY=sample_api_key
MONGO_URI=sample/mongodb://localhost:27017
MONGO_DB=cybergreen_db
MONGO_COLLECTION=cybergreen_metrics_raw
